.home{
    background-image: url('../images/gif4.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.homeTextPart{
    display: flex;
    align-items: center;


}
.homeTextPart h1{
    color: rgb(225,10,178) !important;
}
.homeImagePart{
    padding-top: 72px;
}
.icons a{
    font-size: 20px;
    padding: 0 10px;
}
.avatar{
    border-radius: 50%;
    width: 75%;
    height: 75%;
}
.icons a:hover{
    background-color: rgb(225,10,178) !important;
}
@media screen and(max-width:768px){
    .home{
        height: auto;
    }
    .homeTextPart{
        text-align: center;
        padding-top: 80px;
    }
}

@media  screen and (min-width:769px) {
    .homeImagePart{
        padding-left: 80px;
    }
}